<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IUPAC Master - login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='login_password.css') }}">
    </head>
    <body>
        {% if new %}
            <p class="box">Looks like you are new here...<br>Please create a password.</p>
        {% else %}
            <p class="box">Please enter your password.</p>
        {% endif %}
        <!-- https://uiverse.io/G4b413l/mean-stingray-9 -->
        <form method="post" action="/login/password">
            <div class="group">
                <input type="password" class="input" id="password" name="password" autocomplete="off" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="label">Password</label>
            </div>
        </form>
        {% if wrong_password %}
            <p class="box" id="wrong-password">Wrong password!</p>
        {% endif %}
        <div>
            <input type="checkbox" onclick="show_password()" id="show-password-box" name="show-password-box">
            <label id="show-password" for="show-password-box">Show password</p>
        </div>
        <script>
            document.getElementById("show-password-box").addEventListener("click", () => {
                if (document.getElementById("password").type === "password") {
                    document.getElementById("password").type = "text";
                } else {
                    document.getElementById("password").type = "password";
                }
            })
        </script>
    </body>
</html>